.wrapped {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.displayInline {
    display: inline-block;
}

.ui.grid > .row > .column {
    position: relative;
    display: inline-block;
    width: 6.25%;
    padding-left: 0 !important;
    padding-right: 0 !important;
    vertical-align: top;
}

.ml-3 {
    margin-left: 3% !important;
}

.ml-10 {
    margin-left: 10% !important;
}

.ml-15 {
    margin-left: 15% !important;
}

.ui.small.vertical.menu {
    width: 11.4rem !important;
}

.cursorPointer {
    cursor: pointer !important;
}

.noStyle, .noStyle:link, .noStyle:visited, .noStyle:hover, .noStyle:active {
    text-decoration: none;
    color: rgba(255, 255, 255, .8);
}

.textCenter {
    text-align: center;
}

.noMargin {
    margin: 0 0 0 0 !important;
}

.smallerDivider {
    margin-top: 0 !important;
}
